.categories__image_body-baume {
  height: 280px;
  background-size: cover;
  background-image: url(../../../../images/product_grid/body-baume.jpg);
  background-color: black;
  opacity: 0.8;
  transition: .3s ease-in;
}

.categories__image_body-baume:hover{
  opacity: 1;
  transform: scale(1.1, 1.1);
}