.header__logo {
  width: 280px;
  height: 68px;
  background-image: url(../../../images/logo/logo-cdp.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 90px;
  left: 100px;
  z-index: 3;
}
@media screen and (max-width: 420px) {
  .header__logo {
    width: 235px;
    margin: 20px auto;
    position: relative;
    top: auto;
    left: auto;
  }
}