.collections__description-title {
  margin: 0px;
  padding-left: 20px;
  padding-top: 59px;
  font-family: TTChocolates,serif;
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 1.5px;
  line-height: 22px;
  color: #212528;
}