.collections__description-container {
  min-height: 502px;
  margin: 0px;
  width: 56%;
  padding-left: 38%;
  background-color: #f3f1ec;
}
@media screen and (max-width: 450px) {
  .collections__description-container {
    width: 85%;
    min-height: 838px;
    padding-left: 0px;
    display:flex;
    flex-direction: column;
    justify-content: end;

  }
}